@charset "UTF-8";

body {
    counter-reset: n-4-0 0;
    font-family: Cambria;
    font-size: 12pt;
}

p {
    -ms-defaultTabStop: 35.4pt;
    line-height: 1;
    margin-bottom: 0pt;
    margin-top: 0pt;
}

p:empty {
    height: 1em;
}

a {
    text-decoration: none;
}

table {
    border-collapse: separate;
    border-spacing: 0pt;
    empty-cells: hide;
}

td {
    padding-bottom: 0pt;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0pt;
    vertical-align: top;
}

.t-TableNormal {
    margin-left: 0pt;
}

.tc-TableNormal {
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}

.p-BodyText {
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-Caption {
    color: #4F81BD;
    font-family: Calibri;
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: 10pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-FootnoteText {
    font-family: Calibri;
    font-size: 10pt;
    margin-bottom: 0pt;
    margin-top: 0pt;
    text-align: justify;
}

.p-Heading1 {
    -ms-contextualSpacing: true;
    -ms-outlineLvl: 0;
    border-bottom-color: #4F81BD;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    color: #FF0000;
    font-family: Calibri;
    font-size: 20pt;
    margin-bottom: 15pt;
    margin-top: 30pt;
    padding-bottom: 4pt;
    text-align: justify;
}

.p-Heading2 {
    -ms-outlineLvl: 1;
    color: #4F81BD;
    font-family: Calibri;
    font-size: 14pt;
    margin-bottom: 6pt;
    margin-top: 10pt;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
}

.p-Heading3 {
    -ms-outlineLvl: 2;
    color: #4F81BD;
    font-family: Calibri;
    font-weight: bold;
    margin-bottom: 6pt;
    margin-top: 10pt;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
}

.p-Heading4 {
    -ms-outlineLvl: 3;
    color: #365F91;
    font-family: Calibri;
    font-style: italic;
    margin-bottom: 0pt;
    margin-top: 2pt;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
}

.p-HtmlNormal {
    font-family: "Times New Roman";
    margin-bottom: 5pt;
    margin-top: 5pt;
    text-align: left;
}

.p-HtmlPre {
    -ms-tab0-pos: 45.8pt;
    -ms-tab0: left;
    -ms-tab1-pos: 91.6pt;
    -ms-tab10-pos: 503.8pt;
    -ms-tab10: left;
    -ms-tab11-pos: 549.6pt;
    -ms-tab11: left;
    -ms-tab12-pos: 595.4pt;
    -ms-tab12: left;
    -ms-tab13-pos: 641.2pt;
    -ms-tab13: left;
    -ms-tab14-pos: 687pt;
    -ms-tab14: left;
    -ms-tab15-pos: 732.8pt;
    -ms-tab15: left;
    -ms-tab1: left;
    -ms-tab2-pos: 137.4pt;
    -ms-tab2: left;
    -ms-tab3-pos: 183.2pt;
    -ms-tab3: left;
    -ms-tab4-pos: 229pt;
    -ms-tab4: left;
    -ms-tab5-pos: 274.8pt;
    -ms-tab5: left;
    -ms-tab6-pos: 320.6pt;
    -ms-tab6: left;
    -ms-tab7-pos: 366.4pt;
    -ms-tab7: left;
    -ms-tab8-pos: 412.2pt;
    -ms-tab8: left;
    -ms-tab9-pos: 458pt;
    -ms-tab9: left;
    background-color: #F9F9F9;
    border-bottom-color: #2F6FAB;
    border-bottom-style: dashed;
    border-bottom-width: 0.75pt;
    border-left-color: #2F6FAB;
    border-left-style: dashed;
    border-left-width: 0.75pt;
    border-right-color: #2F6FAB;
    border-right-style: dashed;
    border-right-width: 0.75pt;
    border-top-color: #2F6FAB;
    border-top-style: dashed;
    border-top-width: 0.75pt;
    color: #000000;
    font-family: "Courier New";
    font-size: 10pt;
    line-height: 16.6pt;
    margin-bottom: 0pt;
    margin-left: 24pt;
    margin-top: 0pt;
    padding-bottom: 12pt;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 12pt;
    text-align: left;
}

.p-IntenseQuote {
    background-color: #FFC000;
    border-bottom-color: #4F81BD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #4F81BD;
    border-top-style: solid;
    border-top-width: 1px;
    color: #4F81BD;
    font-family: Calibri;
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 6pt;
    margin-left: 28.35pt;
    margin-right: 28.35pt;
    margin-top: 6pt;
    padding-bottom: 10pt;
    padding-top: 10pt;
    text-align: center;
}

.p-ListParagraph {
    -ms-contextualSpacing: true;
    font-family: Calibri;
    margin-bottom: 6pt;
    margin-left: 36pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-Normal {
    font-family: Calibri;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.pn-10-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-10-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-10-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-10-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-13-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-13-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-13-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-13-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-14-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-14-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-14-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-14-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-15-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-15-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-15-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-15-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-17-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-17-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-17-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-17-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-2-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-2-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-2-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-2-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-20-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-20-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-20-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-20-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-22-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-22-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-22-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-22-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-25-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-25-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-25-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-25-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-26-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-26-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-26-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-26-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-30-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-30-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-30-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-30-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-4-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-4-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "%1.";
    -ms-numFmt: decimal;
    -ms-start: 1;
    counter-reset: n-4-1 0;
}

.n-4-0:before {
    content: counter(n-4-0) ".";
    counter-increment: n-4-0;
    float: left;
    width: 18pt;
}

.n-4-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-5-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-5-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-5-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-5-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-6-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-6-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-6-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-6-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-8-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-8-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-8-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-8-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-9-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-9-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-9-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-9-0:after {
    clear: both;
    content: "";
    display: block;
}

.c-CommentReference {
    font-size: 8pt;
}

.c-FootnoteReference {
    vertical-align: super;
}

.c-HtmlCode {
    font-family: Courier;
    font-size: 10pt;
}

.c-Hyperlink {
    color: #0000FF;
    text-decoration: underline;
}

.pb--first {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 0pt;
}

.pb--middle {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-left: 0pt;
    margin-right: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 0pt;
}

.pb--last {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 0pt;
}
