@charset "UTF-8";

body {
    counter-reset: n-103-0 0 n-124-0 0 n-124-1 0 n-124-2 0 n-5105-0 0 n-5132-0 0 n-5141-0 0;
    font-family: Calibri;
    font-size: 11pt;
}

p {
    -ms-defaultTabStop: 36pt;
    line-height: 1.54;
    margin-bottom: 8pt;
    margin-top: 0pt;
}

p:empty {
    height: 1em;
}

a {
    text-decoration: none;
}

table {
    border-collapse: separate;
    border-spacing: 0pt;
    empty-cells: hide;
}

td {
    padding-bottom: 0pt;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0pt;
    vertical-align: top;
}

.t-TableGrid {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: 0pt;
}

.t-TableNormal {
    margin-left: 0pt;
}

.tc-TableGrid--bb {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.tc-TableGrid--bl {
    border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
}

.tc-TableGrid--br {
    border-right-color: #000000;
    border-right-style: solid;
    border-right-width: 1px;
}

.tc-TableGrid--bt {
    border-top-color: #000000;
    border-top-style: solid;
    border-top-width: 1px;
}

.tc-TableGrid {
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}

.tc-TableNormal {
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}

.tp-TableGrid {
    line-height: 1.5;
    margin-bottom: 0pt;
}

.p-ARules {
    -ms-tab0-pos: 93.9pt;
    -ms-tab0: left;
    -ms-tab1-pos: 279.65pt;
    -ms-tab1: center;
    background-color: #FFC000;
    border-bottom-color: #FF0000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #FF0000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #FF0000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #FF0000;
    border-top-style: solid;
    border-top-width: 1pt;
    font-size: 10pt;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 90pt;
    margin-right: 72pt;
    margin-top: 6pt;
    padding-bottom: 8pt;
    padding-left: 8pt;
    padding-right: 8pt;
    padding-top: 8pt;
    text-indent: -18pt;
}

.p-Acode {
    background-color: #CCFFCC;
    border-bottom-color: #0000FF;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #0000FF;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #0000FF;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #0000FF;
    border-top-style: solid;
    border-top-width: 1pt;
    font-family: "Courier New";
    font-size: 8pt;
    line-height: 1.5;
    margin-bottom: 0pt;
    margin-left: 36pt;
    margin-right: 36pt;
    padding-bottom: 8pt;
    padding-left: 8pt;
    padding-right: 8pt;
    padding-top: 8pt;
}

.p-Anote {
    background-color: #99CCFF;
    border-bottom-color: #002060;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #002060;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #002060;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #002060;
    border-top-style: solid;
    border-top-width: 1px;
    color: #00000A;
    font-size: 10pt;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 72pt;
    margin-right: 72pt;
    margin-top: 6pt;
    padding-bottom: 8pt;
    padding-left: 8pt;
    padding-right: 8pt;
    padding-top: 8pt;
    text-align: justify;
}

.p-BodyText {
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-BoldCentered {
    background-color: transparent;
    color: #000000;
    font-family: Calibri;
    font-size: 9pt;
    font-weight: bold;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 2pt;
    margin-top: 2pt;
    text-align: center;
}

.p-Caption {
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    font-weight: bold;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-CommentText {
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-FootnoteText {
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-Heading1 {
    -ms-outlineLvl: 0;
    -ms-tab0-pos: 6.75pt;
    -ms-tab0: left;
    background-color: #00FF99;
    border-bottom-color: #C00000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #C00000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #C00000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #C00000;
    border-top-style: solid;
    border-top-width: 1pt;
    font-family: Arial;
    font-size: 16pt;
    font-weight: bold;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 12pt;
    margin-left: 21.6pt;
    margin-top: 24pt;
    padding-bottom: 2pt;
    padding-left: 7pt;
    padding-right: 7pt;
    padding-top: 2pt;
    page-break-after: avoid;
    page-break-before: always;
    text-align: justify;
    text-indent: -21.6pt;
}

.p-Heading2 {
    -ms-outlineLvl: 1;
    -ms-tab0-pos: 31.5pt;
    -ms-tab0: left;
    background-color: #FFD966;
    border-bottom-color: #404040;
    border-bottom-style: solid;
    border-bottom-width: 0.75pt;
    border-left-color: #404040;
    border-left-style: solid;
    border-left-width: 0.75pt;
    border-right-color: #404040;
    border-right-style: solid;
    border-right-width: 0.75pt;
    border-top-color: #404040;
    border-top-style: solid;
    border-top-width: 0.75pt;
    color: #404040;
    font-family: Calibri;
    font-size: 14pt;
    font-weight: bold;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 12pt;
    margin-left: 28.8pt;
    margin-top: 30pt;
    padding-bottom: 4pt;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 4pt;
    page-break-after: avoid;
    text-indent: -28.8pt;
}

.p-Heading3 {
    -ms-outlineLvl: 2;
    -ms-tab0-pos: 49.65pt;
    -ms-tab0: left;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-top-width: 1px;
    color: #2F5496;
    font-family: Calibri;
    font-size: 13pt;
    font-weight: bold;
    line-height: 1.55;
    margin-bottom: 12pt;
    margin-left: 49.65pt;
    margin-top: 24pt;
    padding-bottom: 1pt;
    padding-top: 1pt;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: -49.65pt;
}

.p-Heading4 {
    -ms-outlineLvl: 3;
    border-bottom-color: #000000;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    color: #1F3864;
    font-family: Calibri;
    font-weight: bold;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 18pt;
    padding-bottom: 1pt;
    page-break-after: avoid;
}

.p-Heading5 {
    -ms-outlineLvl: 4;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    font-style: italic;
    font-weight: bold;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 12pt;
    text-align: justify;
}

.p-HtmlNormal {
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-HtmlPre {
    -ms-tab0-pos: 45.8pt;
    -ms-tab0: left;
    -ms-tab1-pos: 91.6pt;
    -ms-tab10-pos: 503.8pt;
    -ms-tab10: left;
    -ms-tab11-pos: 549.6pt;
    -ms-tab11: left;
    -ms-tab12-pos: 595.4pt;
    -ms-tab12: left;
    -ms-tab13-pos: 641.2pt;
    -ms-tab13: left;
    -ms-tab14-pos: 687pt;
    -ms-tab14: left;
    -ms-tab15-pos: 732.8pt;
    -ms-tab15: left;
    -ms-tab1: left;
    -ms-tab2-pos: 137.4pt;
    -ms-tab2: left;
    -ms-tab3-pos: 183.2pt;
    -ms-tab3: left;
    -ms-tab4-pos: 229pt;
    -ms-tab4: left;
    -ms-tab5-pos: 274.8pt;
    -ms-tab5: left;
    -ms-tab6-pos: 320.6pt;
    -ms-tab6: left;
    -ms-tab7-pos: 366.4pt;
    -ms-tab7: left;
    -ms-tab8-pos: 412.2pt;
    -ms-tab8: left;
    -ms-tab9-pos: 458pt;
    -ms-tab9: left;
    color: #00000A;
    font-family: "Courier New";
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-ListBullet {
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 18pt;
    margin-top: 6pt;
    text-align: justify;
    text-indent: -18pt;
}

.p-ListBullet2 {
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 32.15pt;
    margin-top: 6pt;
    text-align: justify;
    text-indent: -18pt;
}

.p-ListParagraph {
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 36pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-Normal {
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-Saisieparagraph {
    background-color: #FFFFE7;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-top: 6pt;
    text-align: justify;
}

.p-Standard0 {
    font-family: "Arial, sans-serif";
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 0pt;
}

.p-TOC1 {
    -ms-tab0-pos: 446.55pt;
    -ms-tab0: right;
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    font-weight: bold;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 28.35pt;
    margin-top: 6pt;
    text-align: left;
    text-indent: -28.35pt;
}

.p-TOC2 {
    -ms-tab0-pos: 49.65pt;
    -ms-tab0: left;
    -ms-tab1-pos: 446.55pt;
    -ms-tab1: right;
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 0pt;
    margin-left: 49.65pt;
    margin-top: 0pt;
    text-align: justify;
    text-indent: -37.65pt;
}

.p-TableContents {
    background-color: transparent;
    color: #00000A;
    font-family: Arial;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.55;
    margin-bottom: 7.2pt;
    margin-top: 7.2pt;
    text-align: justify;
}

.p-contenutotabella {
    background-color: transparent;
    color: #00000A;
    font-family: Calibri;
    font-size: 10pt;
    hyphens: none;
    line-height: 1.5;
    margin-bottom: 7.2pt;
    margin-top: 7.2pt;
    text-align: left;
}

.pn-101-0 {
    margin-left: 96pt;
    text-indent: -18pt;
}

.n-101-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Wingdings;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-101-0:before {
    content: "➢";
    float: left;
    width: 18pt;
}

.n-101-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-103-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-103-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "%1.";
    -ms-numFmt: decimal;
    -ms-start: 1;
}

.n-103-0:before {
    content: counter(n-103-0) ".";
    counter-increment: n-103-0;
    float: left;
    width: 18pt;
}

.n-103-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-104-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-104-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-104-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-104-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-105-0 {
    margin-left: 38.15pt;
    text-indent: -18pt;
}

.n-105-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-105-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-105-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-106-0 {
    margin-left: 36pt;
    text-indent: 18pt;
}

.n-106-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "●";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-106-0:before {
    content: "● ";
    text-decoration: none;
}

.pn-107-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-107-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-107-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-107-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-108-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-108-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-108-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-108-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-109-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-109-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-109-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-109-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-110-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-110-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-110-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-110-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-112-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-112-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-112-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-112-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-113-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-113-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-113-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-113-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-114-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-114-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-114-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-114-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-115-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-115-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-115-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-115-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-117-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-117-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-117-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-117-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-124-0 {
    margin-left: 21.6pt;
    text-indent: -21.6pt;
}

.n-124-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "%1";
    -ms-numFmt: decimal;
    -ms-start: 1;
    counter-reset: n-124-1 0;
}

.n-124-0:before {
    content: counter(n-124-0);
    counter-increment: n-124-0;
    float: left;
    width: 21.6pt;
}

.n-124-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-124-1 {
    margin-left: 28.8pt;
    text-indent: -28.8pt;
}

.n-124-1 {
    -ms-lvlJc: left;
    -ms-lvlText: "%1.%2";
    -ms-numFmt: decimal;
    -ms-start: 1;
    counter-reset: n-124-2 0;
}

.n-124-1:before {
    content: counter(n-124-0) "." counter(n-124-1);
    counter-increment: n-124-1;
    float: left;
    width: 28.8pt;
}

.n-124-1:after {
    clear: both;
    content: "";
    display: block;
}

.pn-124-2 {
    margin-left: 36pt;
    text-indent: -36pt;
}

.n-124-2 {
    -ms-lvlJc: left;
    -ms-lvlText: "%1.%2.%3";
    -ms-numFmt: decimal;
    -ms-start: 1;
    counter-reset: n-124-3 0;
}

.n-124-2:before {
    -ms-dstrike: true;
    -ms-effect: none;
    -ms-emboss: false;
    -ms-imprint: false;
    -ms-outline: false;
    -ms-shadow: false;
    content: counter(n-124-0) "." counter(n-124-1) "." counter(n-124-2);
    counter-increment: n-124-2;
    float: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;
    width: 49.65pt;
}

.n-124-2:after {
    clear: both;
    content: "";
    display: block;
}

.pn-13-0 {
    margin-left: 32.15pt;
    text-indent: -18pt;
}

.n-13-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-13-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-13-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-144-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-144-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-144-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-144-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-145-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-145-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-145-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-145-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-146-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-146-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-146-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-146-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-147-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-147-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-147-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-147-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-148-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-148-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-148-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-148-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-149-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-149-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-149-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-149-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-15-0 {
    margin-left: 18pt;
    text-indent: -18pt;
}

.n-15-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-15-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-15-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-150-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-150-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-150-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-150-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-151-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-151-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-151-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-151-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-152-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-152-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-152-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-152-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-153-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-153-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-153-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-153-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-154-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-154-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-154-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-154-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-155-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-155-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-155-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-155-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-156-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-156-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-156-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-156-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-157-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-157-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-157-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-157-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-158-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-158-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-158-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-158-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-159-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-159-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-159-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-159-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-159-1 {
    margin-left: 72pt;
    text-indent: -18pt;
}

.n-159-1 {
    -ms-lvlJc: left;
    -ms-lvlText: "o";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-159-1:before {
    content: "o";
    float: left;
    font-family: "Courier New";
    width: 18pt;
}

.n-159-1:after {
    clear: both;
    content: "";
    display: block;
}

.pn-161-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-161-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-161-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-161-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-162-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-162-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-162-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-162-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-163-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-163-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-163-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-163-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-168-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-168-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-168-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-168-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-169-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-169-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-169-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-169-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-17-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-17-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-17-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-17-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-172-0 {
    margin-left: 18pt;
    text-indent: -18pt;
}

.n-172-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-172-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-172-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-174-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-174-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-174-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-174-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-175-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-175-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-175-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-175-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-18-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-18-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-18-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-18-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-19-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-19-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-19-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-19-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-20-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-20-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-20-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-20-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-21-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-21-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-21-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-21-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-22-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-22-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-22-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-22-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-23-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-23-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-23-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-23-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-24-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-24-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-24-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-24-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-24-1 {
    margin-left: 72pt;
    text-indent: -18pt;
}

.n-24-1 {
    -ms-lvlJc: left;
    -ms-lvlText: "o";
    -ms-numFmt: bullet;
}

.n-24-1:before {
    content: "o";
    float: left;
    font-family: "Courier New";
    width: 18pt;
}

.n-24-1:after {
    clear: both;
    content: "";
    display: block;
}

.pn-25-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-25-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-25-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-25-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-26-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-26-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-26-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-26-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-27-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-27-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-27-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-27-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-28-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-28-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-28-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-28-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-29-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-29-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-29-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-29-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-30-0 {
    margin-left: 38.3pt;
    text-indent: -18pt;
}

.n-30-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-30-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-30-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-31-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-31-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-31-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-31-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-32-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-32-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-32-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-32-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-33-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-33-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-33-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-33-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-34-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-34-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-34-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-34-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-34-1 {
    margin-left: 72pt;
    text-indent: -18pt;
}

.n-34-1 {
    -ms-lvlJc: left;
    -ms-lvlText: "o";
    -ms-numFmt: bullet;
}

.n-34-1:before {
    content: "o";
    float: left;
    font-family: "Courier New";
    width: 18pt;
}

.n-34-1:after {
    clear: both;
    content: "";
    display: block;
}

.pn-37-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-37-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-37-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-37-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-37-1 {
    margin-left: 72pt;
    text-indent: -18pt;
}

.n-37-1 {
    -ms-lvlJc: left;
    -ms-lvlText: "o";
    -ms-numFmt: bullet;
}

.n-37-1:before {
    content: "o";
    float: left;
    font-family: "Courier New";
    width: 18pt;
}

.n-37-1:after {
    clear: both;
    content: "";
    display: block;
}

.pn-38-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-38-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-38-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-38-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-39-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-39-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-39-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-39-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-40-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-40-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-40-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-40-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-41-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-41-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-41-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-41-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-42-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-42-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-42-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-42-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-43-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-43-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-43-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-43-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-44-0 {
    margin-left: 54pt;
    text-indent: -36pt;
}

.n-44-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-44-0:before {
    content: "•";
    float: left;
    width: 36pt;
}

.n-44-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-45-0 {
    margin-left: 38.1pt;
    text-indent: -18pt;
}

.n-45-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-45-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-45-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-46-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-46-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-46-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-46-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-46-1 {
    margin-left: 72pt;
    text-indent: -18pt;
}

.n-46-1 {
    -ms-lvlJc: left;
    -ms-lvlText: "o";
    -ms-numFmt: bullet;
}

.n-46-1:before {
    content: "o";
    float: left;
    font-family: "Courier New";
    width: 18pt;
}

.n-46-1:after {
    clear: both;
    content: "";
    display: block;
}

.pn-48-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-48-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-48-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-48-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-48-1 {
    margin-left: 72pt;
    text-indent: -18pt;
}

.n-48-1 {
    -ms-lvlJc: left;
    -ms-lvlText: "o";
    -ms-numFmt: bullet;
}

.n-48-1:before {
    content: "o";
    float: left;
    font-family: "Courier New";
    width: 18pt;
}

.n-48-1:after {
    clear: both;
    content: "";
    display: block;
}

.pn-49-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-49-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-49-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-49-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-5096-0 {
    margin-left: 18pt;
    text-indent: -18pt;
}

.n-5096-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-5096-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-5096-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-5105-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-5105-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "%1.";
    -ms-numFmt: decimal;
    -ms-start: 1;
}

.n-5105-0:before {
    content: counter(n-5105-0) ".";
    counter-increment: n-5105-0;
    float: left;
    width: 18pt;
}

.n-5105-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-5122-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-5122-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-5122-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-5122-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-5132-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-5132-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "%1.";
    -ms-numFmt: decimal;
    -ms-start: 1;
}

.n-5132-0:before {
    content: counter(n-5132-0) ".";
    counter-increment: n-5132-0;
    float: left;
    width: 18pt;
}

.n-5132-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-5141-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-5141-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "%1.";
    -ms-numFmt: decimal;
    -ms-start: 1;
}

.n-5141-0:before {
    content: counter(n-5141-0) ".";
    counter-increment: n-5141-0;
    float: left;
    width: 18pt;
}

.n-5141-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-5150-0 {
    margin-left: 18pt;
    text-indent: -18pt;
}

.n-5150-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-5150-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-5150-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-56-0 {
    margin-left: 18pt;
    text-indent: -18pt;
}

.n-56-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-56-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-56-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-59-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-59-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-59-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-59-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-60-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-60-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-60-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-60-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-61-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-61-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-61-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-61-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-62-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-62-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-62-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-62-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-63-0 {
    margin-left: 36pt;
    text-indent: 18pt;
}

.n-63-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "●";
    -ms-numFmt: bullet;
}

.n-63-0:before {
    -ms-dstrike: true;
    -ms-effect: none;
    -ms-u-color: #000000;
    content: "● ";
    text-decoration: none;
}

.pn-64-0 {
    margin-left: 36pt;
    text-indent: 18pt;
}

.n-64-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "●";
    -ms-numFmt: bullet;
}

.n-64-0:before {
    -ms-dstrike: true;
    -ms-effect: none;
    -ms-u-color: #000000;
    content: "● ";
    text-decoration: none;
}

.pn-65-0 {
    margin-left: 36pt;
    text-indent: 18pt;
}

.n-65-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "●";
    -ms-numFmt: bullet;
}

.n-65-0:before {
    -ms-dstrike: true;
    -ms-effect: none;
    -ms-u-color: #000000;
    content: "● ";
    text-decoration: none;
}

.pn-66-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-66-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-66-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-66-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-67-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-67-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-67-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-67-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-71-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-71-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-71-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-71-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-72-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-72-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-72-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-72-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-73-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-73-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-73-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-73-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-74-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-74-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-74-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-74-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-75-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-75-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-75-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-75-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-76-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-76-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-76-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-76-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-78-0 {
    margin-left: 18pt;
    text-indent: -18pt;
}

.n-78-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-78-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-78-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-81-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-81-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-81-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-81-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-83-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-83-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-83-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-83-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-84-0 {
    margin-left: 0pt;
    text-indent: 18pt;
}

.n-84-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "●";
    -ms-numFmt: bullet;
}

.n-84-0:before {
    -ms-dstrike: true;
    -ms-effect: none;
    -ms-u-color: #000000;
    content: "● ";
    text-decoration: none;
}

.pn-85-0 {
    margin-left: 36pt;
    text-indent: 18pt;
}

.n-85-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "●";
    -ms-numFmt: bullet;
}

.n-85-0:before {
    -ms-dstrike: true;
    -ms-effect: none;
    -ms-u-color: #000000;
    content: "● ";
    text-decoration: none;
}

.pn-86-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-86-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
}

.n-86-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-86-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-87-0 {
    margin-left: 36pt;
    text-indent: 18pt;
}

.n-87-0 {
    -ms-lvlJc: left;
    -ms-lvlText: "●";
    -ms-numFmt: bullet;
}

.n-87-0:before {
    -ms-dstrike: true;
    -ms-effect: none;
    -ms-u-color: #000000;
    content: "● ";
    text-decoration: none;
}

.pn-94-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-94-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-94-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-94-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-95-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-95-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-95-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-95-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-96-0 {
    margin-left: 18pt;
    text-indent: -18pt;
}

.n-96-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-96-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-96-0:after {
    clear: both;
    content: "";
    display: block;
}

.pn-99-0 {
    margin-left: 36pt;
    text-indent: -18pt;
}

.n-99-0 {
    -ms-lvlJc: left;
    -ms-lvlText-font-family: Symbol;
    -ms-lvlText: "";
    -ms-numFmt: bullet;
    -ms-start: 1;
}

.n-99-0:before {
    content: "•";
    float: left;
    width: 18pt;
}

.n-99-0:after {
    clear: both;
    content: "";
    display: block;
}

.c-FootnoteReference {
    vertical-align: super;
}

.c-HtmlTt {
    font-family: "Courier New";
    font-size: 10pt;
}

.c-Hyperlink {
    -ms-u-color: #000000;
    color: #0000FF;
    text-decoration: underline;
}

.c-apple-converted-space {

}

.c-eop {

}

.c-keyword {

}

.c-macchinadascriverehtml1 {

}

.c-normaltextrun {

}

.c-oneclick-link {

}

.c-tt {

}

.pb--first {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 0pt;
}

.pb--middle {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-left: 0pt;
    margin-right: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 0pt;
}

.pb--last {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 0pt;
}
